body {
  @include light;
  color: $text-color;
}

img {
  width: 100%;
}

.section {
  padding: 100px 0;

  &-title {
    font-size: 30px;
    text-transform: uppercase;
    @include bold;
    text-align: center;
  }

  &__title {
    margin-bottom: 100px;
  }
}

.button-o {
  text-decoration: none;
  text-transform: uppercase;
  padding: 17px 22px;
  font-size: 12px;
  color: $primary;
  @include bold;
  border: 2px solid $primary;
  background-color: #fff;
  cursor: pointer;
}

.button {
  text-decoration: none;
  padding: 25px 45px;
  color: #fff;
  background: $primary;
  @include bold;
  border: none;
  text-transform: uppercase;
  cursor: pointer;

  &-fitting {
    color: $primary;
    background-color: #fff;
  }

  &-add {
    background: lighten($primary, 10%);
    color: #fff;
  }

  &-like {
    background-color: $primary;
    height: 30px;
    width: 30px;
    border: none;
  }
}

.bg-secondary {
  background-color: $bg-secondary;
}

.input {
  height: 80px;
  padding-left: 30px;
  border: 1px solid black;
}

@media (max-width: 576px) {
  .button-o {
    font-size: 10px;
  }

  .section {
    padding: 60px 0;

    &-title {
      font-size: 24px;
    }
  }
}